@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #e9e9c0;
  /* Header en general */
  /* Imagenes */
  /* Footer */
  /* Otros Productos */
  /* Sobre Nosotros */
  /* Formularios */
}

body .header {
  width: 100%;
  background-color: #2f9edf;
  /* Nav*/
}

body .header .header__h1 {
  text-align: center;
  color: #072f31;
  font-weight: bolder;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 230%;
}

body .header .header__h1:hover {
  color: white;
}

body .header .header__logo {
  width: 10%;
  height: 10%;
  -webkit-transform: translate(10%, -70%);
          transform: translate(10%, -70%);
}

body .header .header__subtitulo {
  text-align: center;
  color: #072f31;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
  font-size: 200%;
}

body .header .header__subtitulo:hover {
  color: white;
}

body .header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

body .header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
}

body .header ul li a {
  text-decoration: none;
  color: #57042c;
  font-size: 110%;
}

body .header ul li a:hover {
  color: #eaf2f3;
}

body .article__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body img {
  width: 25%;
  height: auto;
  border: solid #ce344e;
}

body h3 {
  text-align: center;
  padding: 1%;
}

body footer {
  background-color: #d2bbdb;
  padding: 1%;
}

body footer .footer__grids {
  color: black;
  font-size: 200%;
  padding: 1% 0% 0% 0%;
}

body footer .footer__redes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 0% 0% 0%;
}

body footer .footer__redes li {
  font-size: 120%;
}

body footer .footer__redes li a:hover {
  color: red;
}

body footer .footer__telefonos {
  list-style: none;
}

body footer div a {
  text-decoration: none;
}

body footer div a:hover {
  color: red;
}

body footer .parrafo {
  font-size: 130%;
  color: crimson;
  padding: 1% 0% 0% 0%;
}

body footer .desarrollado {
  font-size: 100%;
  padding: 1% 0% 0% 0%;
}

body footer .footer__w {
  width: 5%;
  height: auto;
  border: none;
}

body footer .footer__i {
  width: 5%;
  height: auto;
  border: none;
}

body footer .footer__f {
  width: 5%;
  height: auto;
  border: none;
}

body .article__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .identidad {
  font-size: 350%;
  color: darkblue;
  text-align: center;
  padding: 5%;
  -webkit-transition: 1s;
  transition: 1s;
}

body .identidad:hover {
  color: red;
}

body p {
  font-size: 220%;
  color: #0e243d;
}

body form {
  font-size: 250%;
  margin: 4%;
  width: 80%;
  height: 80%;
}

body label {
  color: #410b0b;
}

body .titulo {
  font-size: 300%;
  color: darkblue;
  -webkit-transition: 1s;
  transition: 1s;
}

body .titulo:hover {
  color: red;
}

body .persona {
  border: solid black;
  width: 10%;
  margin: 5%;
  height: auto;
  text-align: start;
}

body .boton {
  margin: 3%;
  width: 20%;
  height: 20%;
}
/*# sourceMappingURL=style.css.map */