@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #e9e9c0;
  /* Header en general */
  /* Imagenes */
  /* Footer */
  /* Otros Productos */
  /* Sobre Nosotros */
  /* Formularios */
}

body .header {
  padding: 0% 0% 5% 0%;
  background-color: #2f9edf;
  /* Nav*/
}

body .header .header__h1 {
  text-align: center;
  font-size: 400%;
  letter-spacing: 2%;
  color: #072f31;
  -webkit-transform: translate(0%, 180%);
          transform: translate(0%, 180%);
  font-weight: bolder;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .header .header__h1:hover {
  color: white;
}

body .header .header__logo {
  height: 20%;
  width: 20%;
}

body .header .header__subtitulo {
  text-align: center;
  font-size: 180%;
  color: #072f31;
  padding: 2%;
  font-size: 300%;
  -webkit-transition: 1s;
  transition: 1s;
}

body .header .header__subtitulo:hover {
  color: white;
}

body .header .header__nav, body .header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
  font-size: 160%;
  margin: 0.5%;
  padding: 0.5%;
}

body .header ul li a {
  text-decoration: none;
  color: #57042c;
}

body .header .nav-link {
  text-decoration: none;
  color: #57042c;
}

body .header .nav-link:hover {
  color: #eaf2f3;
}

body .header ul li a:hover {
  color: #eaf2f3;
}

body .article__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body img {
  width: 25%;
  height: auto;
  border: solid #ce344e;
}

body h3 {
  text-align: center;
  padding: 1%;
}

body footer {
  display: -ms-grid;
  display: grid;
  background-color: burlywood;
  font-size: 120%;
  padding: 5%;
      grid-template-areas: "uno uno uno" "dos dos dos";
  -ms-grid-columns: (0.5fr)[2];
      grid-template-columns: repeat(2, 0.5fr);
  -ms-grid-rows: (0.5fr)[2];
      grid-template-rows: repeat(2, 0.5fr);
}

body footer .footer__grids {
  color: #581a92;
  font-size: 100%;
  margin: 1rem;
}

body footer .footer__redes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

body footer .footer__redes li {
  margin: 1rem;
  font-size: 120%;
}

body footer .footer__redes li a:hover {
  color: red;
}

body footer .footer__telefonos {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

body footer .footer__telefonos li {
  margin: 1rem;
}

body footer .footer__uno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: uno;
}

body footer .footer__dos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: dos;
}

body footer div a {
  text-decoration: none;
}

body footer div a:hover {
  color: red;
}

body footer .parrafo {
  font-size: 120%;
}

body footer .desarrollado {
  font-size: 120%;
}

body footer .footer__w {
  width: 8.5%;
  height: auto;
  border: none;
}

body footer .footer__i {
  width: 8.5%;
  height: auto;
  border: none;
}

body footer .footer__f {
  width: 8.5%;
  height: auto;
  border: none;
}

body .article__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .identidad {
  font-size: 350%;
  color: darkblue;
  text-align: center;
  padding: 5%;
  -webkit-transition: 1s;
  transition: 1s;
}

body .identidad:hover {
  color: red;
}

body p {
  font-size: 220%;
  color: #0e243d;
}

body form {
  font-size: 250%;
  margin: 10%;
}

body label {
  color: #410b0b;
}

body .titulo {
  font-size: 350%;
  color: darkblue;
  -webkit-transition: 1s;
  transition: 1s;
}

body .titulo:hover {
  color: red;
}
/*# sourceMappingURL=style.css.map */