* {
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: rgb(233, 233, 192);

    /* Header en general */

        .header {
            width: 100%;
            background-color: rgb(47, 158, 223);
            .header__h1{ 
                text-align: center;
                color: rgb(7, 47, 49);
                font-weight: bolder;
                transition: 1s;
                font-size: 230%;
            }

            .header__h1:hover {
                color: white;
            }

            .header__logo {
                width: 10%;
                height: 10%;
                transform: translate(10%,-70%);
            }

            .header__subtitulo {
                text-align: center;
                color: rgb(7, 47, 49);
                transition: 1s;
                transform: translate(0,-50%);
            }

            .header__subtitulo:hover {
                color: white;
            }

            /* Nav*/

            .header__nav {
                display: flex;
                justify-content: space-between;
                list-style: none;
                text-transform: uppercase;
                transform: translate(0%,-20%);
            }

            .header__menu {
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                text-transform: uppercase;
                transform: translate(0,-40%);
            }

            ul li a {
                text-decoration: none;
                color: rgb(87, 4, 44);
                font-size: 120%;
            }

            .nav-link {
                text-decoration: none;
                color: rgb(87, 4, 44);
            }

            .nav-link:hover {
                color: rgb(234, 242, 243);
            }

            ul li a:hover {
                color: rgb(234, 242, 243);
            }
        }

        /* Imagenes */

        .article__img {
            display: flex;
            justify-content: space-evenly;
        }
        img {
            width: 25%;
            height: auto;
            border: solid rgb(206, 52, 78);
        }

        h3 {
            text-align: center;
            padding: 1%;
        }


        /* Footer */

        footer {
            display: grid;
            background-color: burlywood;
            font-size: 120%;
            padding: 1%;
            grid-template-areas:"uno uno uno"
                                "dos dos dos";
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: repeat(2, 0.5fr);

            .footer__grids {
                color: rgb(88, 26, 146);
                font-size: 100%;
            }

            .footer__redes {
                list-style: none;
                display: flex;

            }

            .footer__redes li {
                font-size: 120%;
            }

            .footer__redes li a:hover {
                color: red;
            }

            .footer__telefonos {
                list-style: none;
                display: flex;
                margin: 1rem;
            }

            .footer__telefonos li {
                margin: 1rem;
            }

            .footer__uno {
                grid-area: uno;
            }

            .footer__dos {
                grid-area: dos;
            }

            div a {
                text-decoration: none;
            }

            div a:hover {
                color: red;
            }

            .parrafo {
                font-size: 120%;
            }

            .desarrollado {
                font-size: 100%;
            }

            .footer__w {
                width: 4%;
                height: auto;
                border: none;
            }

            .footer__i {
                width: 4%;
                height: auto;
                border: none;
            }

            .footer__f {
                width: 4%;
                height: auto;
                border: none;
            }
        
        }

        /* Otros Productos */

        .article__productos {
            display: flex;
            justify-content: space-evenly;
        }

        /* Sobre Nosotros */

        .identidad {
            font-size: 350%;
            color: darkblue;
            text-align: center;
            padding: 5%;
            transition: 1s;
        }

        .identidad:hover {
            color: red;
        }

        /* Formularios */

        p {
            font-size: 220%;
            color: rgb(14, 36, 61);
        }

        form {
            font-size: 250%;
            margin: 4%;
            width: 80%;
            height: 80%;
        }

        label {
            color: rgb(65, 11, 11);
        }

        .titulo {
            font-size: 300%;
            color: darkblue;
            transition: 1s;
        }

        .titulo:hover {
            color: red;
        }

        .persona {
            border: solid black;
            width: 10%;
            margin: 5%;
            height: auto;
            text-align:start;
        }

        .boton {
            margin: 3%;
            width: 20%;
            height: 20%;
        }

}   